.background {
background-image: url('./images/48959bcd670f75e82e25a3a6d5b6d9ab.jpg');
  background-size: cover;
  background-position: center;
  height: 300vh;
  width: 100%;
}


.App-header {
  background-color: #ffc814;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.chart-section {
  margin-top: 40px;
}

.chart-section > div {
  margin-bottom: 50px;
}

h1, h2, h3 {
  font-size: 2em; /* adjust as needed */
}

p {
  font-size: 0.85em;
}

ul li {
  padding: 5px;
  font-size: 0.85em;
}



